/* ----------
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    COMMON
---------- */
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1400px;
    margin: auto;
}
.row {
    display: flex;
    list-style: none;
    align-items: center;
}
.row li a {
    color: inherit;
}

/* ----------
    TYPOGRAPHY  
---------- */
header {
    color: white;
    font-weight: bold;
}
.col-logo a {
    text-decoration: none;
    color: inherit;
}
.col-type li a, .col-icons li a i {
    font-size: 18px;
}
.col-logo a small {
    font-size: 24px;
}
.main-images {
    color: white;
    font-weight: bold;
}
footer  {
    color: white;
}

/* ----------
    HEADER  
---------- */
.background-header {
    background-color: #ff6900;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: #9e9e9e 0 2px;
}
.nav li a {
    text-decoration: none;
}
.col-type, .col-icons {
    width: 15%;
}
.col-type {
    justify-content: space-between;
}
.col-icons {
    justify-content: flex-end;
}
.col-icons li a i {
    margin-left: 10px;
}
.col-logo {
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.col-logo a img{
    display: inline-block;
    height: 32px;
    margin-right: 10px;
}

/* ----------
    MAIN  
---------- */
.row-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 140px 0 60px;
}
.row-main .box {
    width: calc(33.3333% - 20px);
    margin: 20px 10px;
}
.row-main .box img {
    width: 100%;
}
.main-images {
    position: relative;
}
.img-hover {
    display: none;
    width: 100%;
}
.box-images:hover .img-hover {
    display: block;
}
.box-images:hover .img-default {
    display: none;
}
.sales {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 10px;
    background-color: red;
}
.eco {
    position: absolute;
    bottom: 100px;
    left: 60px;
    padding: 10px;
    background-color: green;
}
.eco-singolo {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 10px;
    background-color: green;
}
.like {
    position: absolute;
    bottom: 600px;
    right: 0;
    padding: 15px;
    color: black;
    background-color: white;
}
.main-images:hover .like {
    color: red;
}
.images-description strong {
    color: red;
}
.images-description .line-through {
    text-decoration: line-through;
}

/* ----------
    FOOTER  
---------- */
.background-footer {
    background-color: black;
}
.nav-footer {
    justify-content: space-between;
    padding: 30px 0;
}
.row ul li {
    list-style: none;
    font-size: 10px;
    margin: 10px 5px 0 0;
}
.row ul li a{
    text-decoration: none;
}
.contact ul li {
    font-size: 20px;
}
